   
    <div class="jumbotron">
      <div class="container">
        <h1>Magic</h1>
        <p>Making the impossible look believable.</p>
        <a href="#">Learn More</a>
      </div>
    </div> 

    <div class="neighborhood-guides">
        <div class="container">
            <h2>Neighborhood Guides</h2>
            <p>Not sure where to stay? We've created neighborhood guides for cities all around the world.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://leoisawesome.net/wp-content/uploads/2013/12/2010-nba-slam-dunk-competition-odds.jpg" />
                    </div>
                    <div class="thumbnail">
                        <img src="http://www.hrnasty.com/wp-content/uploads/2011/03/slam-dunk.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://usatthebiglead.files.wordpress.com/2012/08/kd-dunk.jpg" />
                    </div>
                    <div class="thumbnail">
                        <img src="http://ballislife.com/wp-content/uploads/2013/08/DeAndre-Jordan-Brandon-Knight-Dunk.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://i0.wp.com/gamedayr.com/wp-content/uploads/2013/05/brittney-griner-two-dunks-one-game-WNBA.jpg?resize=570%2C822" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-4">
			<h3>Elevation</h3>
			<p>Hops: just like a great beer are the key to a mondo jam.</p>
			<p><a href="#">Greatest NBA verts of all time</a></p>
	      </div>
		  <div class="col-md-4">
			<h3>Rotation</h3>
			<p>360 jams and between the legs/behind the back make an excellent dunk legendary.</p>
			<p><a href="#">Craziest rotating dunks</a></p>
		  </div>
		  <div class="col-md-4">
			<h3>Style</h3>
			<p>Flair is necessary to separate the amazing from existence defining slams.</p>
			<p><a href="#">Most stylish jams ever</a></p>
		  </div>
	    </div>
	  </div>
	</div>